/*Class styling*/
.menu {
  width: 250px; /* Set a width if you like */
}

.menu a {
  background-color: grey; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.menu a.active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}

.projects a {
  font-size: 100%;
  color: lightblue;
  text-shadow: 5px 5px 7px #000000;
  text-decoration: none;

}

.button {
  background-color: grey;
  border: none;
  font-family: 'Codystar', cursive;
  color: lightblue;
  text-shadow: 5px 5px 7px #000000;
  font-weight: bold;
  padding: 0;
}

body {
  background-color: gray; /* Background color for the entire site */
  font-family: 'Codystar'; /* The font used */
  color: white; /* The font color */
  font-weight: bold; /* Making the font Bold*/
  margin: 50px;
}

/*Text or immage specific styling*/
img {
  height: 30px;
  vertical-align: middle;
}

p, h1 {
  text-align: right;

}

a {
  font-size: 30px;
}

#more {display: none;}
