/*Class styling*/
.menu {
  width: 250px; /* Set a width if you like */
}

.menu a {
  background-color: grey; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Menu padding */
  text-decoration: none; /* Remove underline from links */
}

.menu a:hover { /* Dark grey background on mouse-over */
  background-color: #ccc;
}

.menu a.active { /* Add a green color to the "active/current" link */
  background-color: #04AA6D;
  color: white;
}

.projects a { /* Blue project texts */
  font-size: 100%;
  color: lightblue;
  text-shadow: 5px 5px 7px #000000;
  text-decoration: none;

}

body {
  background-color: gray; /* Background color for the entire site */
  font-family: 'Codystar'; /* The font used */
  color: white; /* The font color */
  font-weight: bold;
  margin: 50px;
}

/*Text or image specific styling*/

img { /* Menu images size and placement */
  height: 30px;
  vertical-align: middle;
}

p, h1 {
  text-align: right; /* Aligning the main site text to the right */
}

a {
  font-size: 30px; /* Main menu font size */
}

.iframe { /* Centering the blender video */
  /*border: 5px outset red;*/
  width: 1280px;
  margin: auto;
  padding: 10px;
}

.copyright { /* Making the copyright text to stick to the video */
  margin-top: 0px;
}

.youtubelink { /* Have the Copyright link blend with the white text */
  font-size: 16px;
  color: white;
}

.button { /* Readmore button project page blending in */
  background-color: grey;
  border: none;
  font-family: 'Codystar', cursive;
  color: lightblue;
  text-shadow: 5px 5px 7px #000000;
  font-weight: bold;
  padding: 0;
}

#more { /* More button background */
  display: none;
}
